<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  <display-name>Archetype Created Web Application</display-name>
<welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>CustomerServlet</servlet-name>
  	<servlet-class>com.chen.servlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FilmServlet</servlet-name>
  	<servlet-class>com.chen.servlet.FilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CustomerServlet</servlet-name>
  	<url-pattern>/customer.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FilmServlet</servlet-name>
  	<url-pattern>/film.action</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>loginFilter</filter-name>
  	<filter-class>com.chen.filter.LoginFilter</filter-class>
  </filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
